    .headerLogo {
        height: 5%;
        width: 5%;
    }

    .navbar {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-header {
        color: aqua;
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
        margin-right: auto;
    }

    .navbar-items {
        list-style-type: none;
        display: flex;
        color: gainsboro;
    }

    .navbar-items>li {
        padding: 10px;
    }